body {

  text-align: center;
  
}



#home {
  
  width: 804px;
  height: 700px;


}

.game-intro {
  float: center;
  padding: 0% 10%;
}


.logo-img {
  width: 350px;

}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 25px;
  background-color: #870007;
  color:black ;
  padding: 20px 20px;
  border: 0;
  box-shadow: 0,2;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}


