body {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}


#home { 
  width: 1136px;
  height: 720px;
  background-image: url('/Users/pedroalbertobanosfolcra/Desktop/proyecto canvas/images/unnamed.png');
  background-size: cover;
}



.game-intro {
  float: center;
  padding: 0% 10%;
}


.logo-img {
  width: 350px;

}

.wasd-img {

  margin: 5px 5px;
  font-size: 20px;
  color: red;
  font-family:fantasy;
  font-weight: bold;

}
.logo-controller{

 align-items:initial;
 
  
}


#start-button {
  font-size: 22px;
  text-align: center;
  background-image: url('/Users/pedroalbertobanosfolcra/Desktop/proyecto canvas/images/SCORE.png');
  background-size: 167px 89px;
  align-items: center;
  font-family: fantasy;
  font-weight: bold;
  color:rgb(126, 131, 118);
  padding: 30px 30px;
  background-color: transparent;
  border: transparent;
  margin-top: -20px;
  cursor: pointer;

}


